*.o.*
*.d.*
*.dep.*
*.xo.*
*~
*.o
*.d
*.ao
*.ao.*
*.so
*.so.*
*.dsm
*.dmp
*.lin
*.exe
*.kmd.*
*.log
Map*.txt
map.txt
Doxylog*.txt
LineCounts.*.txt
bochsout.txt
bochsdbg.txt
serial.txt
*.gz
*.img
*.vmdk
SrcDoc/
APIDoc/
Usermode/*/*/UTEST/stage
Usermode/Output/
Usermode/include
gitstats/
.*.swp
.*

*.res.h
Dist/
obj-*/

*.i486
*.i386
*.x86_64
*.bin

*.a

*.pcap

Makefile.user.cfg
QemuLog.txt
Screenshots/

Tools/*/obj/
Tools/*/Makefile.BuildNum
Tools/disktool
Tools/nettest
Tools/img2sif

*.udi
UDI/drivers/*/bin
UDI/ia32/
UDI/Tools/udibuild
