*.o.*
*.d.*
*.xo.*
*~
*.o
*.d
*.ao
*.ao.*
*.so
*.so.*
*.i486
*.i386
*.x86_64
*.bin
*.dsm
*.dmp
*.lin
*.exe
*.kmd.*
*.log
Map*.txt
map.txt
Doxylog*.txt
LineCounts.*.txt
bochs*.txt
serial.txt
*.gz
*.img
SrcDoc/
APIDoc/
Usermode/Output/
gitstats/
.*.swp
.*

*.res.h
Dist/
obj-*/
